<!doctype html>
<html lang="en-GB">
<head>
  <title>{% block title %}Aidan's Blog{% endblock %}</title>
  <link href="{{ STATIC_URL }}style.css" media="screen" rel="stylesheet" type="text/css" />
  <meta name="author" content="Aidan Kane">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css' />
</head>

<body class="posts index">
  <header>
    <h1><a href="http://aidankane-blog.appspot.com">Aidan's Blog</a></h1>
    <span>Hacked together from various things.</span>
    <ul>
      <li><a href="http://twitter.com/aidos">@aidos</a></li>
      <li><a href="https://github.com/aidos">github</a></li>
      <li><a href="mailto:aidankane@gmail.com?subject:Hi!">say hi</a></li>
    </ul>
    <span class="powered-by">
      Style Taken from <a href="http://github.com/natew/obtvse.git">Obtvse</a>
    </span>
  </header>

  <div id="container">
    <time>{{ now|date:"F j, Y" }}</time>
    <div id="content">

      {% block content %}{% endblock %}
      
    </div>
  </div>

</body>
</html>

